body{
  font-family: 'Ek Mukta', sans-serif;
  margin: 0px;
}

li > a{
  color: #656362;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

/* Nav / Navbar Styles
===================================*/
.navbar {

	border-bottom: none;
	padding: 10px 0 10px;
	transition-duration: 0.6s;
}
.navbar-default .navbar-nav>li:last-of-type {
	margin-right: 0;
}
.dropdown-menu,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
	background: rgba(24,53,50, 0.1);
}
.dropdown-menu {

	box-shadow: none;
	border: none;
}
.dropdown-menu li a {
	padding: 4px 8px;
	border-radius: 6px;
}

.nav-dropdown-scroll {
	background: #e7eaea;
	box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.4);
}
.navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	background: #fff;
}

/* END Nav / Navbar Styles
===================================*/
nav{
  background-color: #ffffff !important;
}

.owl-next{
  float: right;
  background-image: url("../img/next.png")!important;
  width: 100px;
  height: 100px;
  position: relative;
  top: -288px;
  margin-right: 36px;
}

.owl-prev{
  float: left;
  background-image: url("../img/prev.png")!important;
  width: 100px;
  height: 100px;
  position: relative;
  top: -288px;
  margin-left: 36px;
}

.body-section-1{
 opacity: 0.7;
 line-height: 1.3;
 color: #5c5b5b;
 font-size: 17px;
 font-weight: lighter;
 line-height: 28px;
 margin-bottom: 20px;
}

.item-title{
  color: #2f2f2f;
  text-align: left;
  font-size: 30px;
  font-weight: 500;
}

.item-body{
  text-align: left;
  line-height: 1.17;
  color: #979797;
  font-size: 18px;
  font-weight: 500;
}

.logo{
  position: relative;
  top: -20px;
}

.business{
  margin-top: 66px;
}

.title-1{
  text-align: center;
  color: #727272;
  text-align: left;
  font-size: 56px;
}

.p{
  text-align: left;
  letter-spacing: -0.9px;
  line-height: 1.37;
  color: #4a4747;
  font-size: 25px;
  font-weight: 300;
}

.banner-text{
  z-index: 1;
  width: 37%;
  position: absolute;
  left: 117px;
  margin-top: -217px;
  letter-spacing: -0.6px;
  line-height: 1.05;
  color: #ffffff;
  font-size: 552%;
  font-weight: 800;
}

.caja{
  height: 7em;
  margin-bottom: 57px;
  letter-spacing: -0.9px;
  color: #ffffff;
  font-size: 23px;
  font-weight: 300;
  padding-bottom: 20px!important;

}

.in{
  position: relative;
  top: 3em;
  left: 10px;
}

.caja1{background-color: #43929e;}
.caja2{background-color: #25818f;}
.caja3{background-color: #136774;}
.caja4{background-color: #095460;}
.caja5{background-color: #03444e;}
.caja6{background-color: #00353f;}

#ul {
  list-style: none;
  padding: 0;
}
.li {
  margin-top: 8px;
  padding-left: 2.3em;
  letter-spacing: -0.6px;
  color: #5c5b5b!important;
  font-size: 18px;
  font-weight: 300;
  margin-top: 12px;
}
.li:before {
  content: ""; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1em; /* same as padding-left set on li */
  height: 1em;
  border-radius: 1em;
  background-color: #267E8D;
}

.title-2{
  text-align: center;
  line-height: 1.07;
  color: #303030;
  font-size: 75px;
  margin-bottom: 92px;
}

.title-section-1 {
    line-height: 1.33;
    color: #727272;
    font-size: 50px;
}

.title-services {
    line-height: 1.07;
    color: #303030;
    font-size: 60px;
    margin-bottom: 66px;
}

.title-3{
  color: #727272;
}

.llamenos{
  text-align: center;
  height: 89px;
  background-color: #f6a623;
}

.in-llamenos{
  position: relative;
  top: 15px;
  letter-spacing: -1.2px;
  color: #ffffff;
  font-size: 40px;
  font-weight: 300;
}

.virtual{
  margin-bottom:  109px;
}
